
.headPart{
    padding: 20px 0 20px 0px;
    background-color: black;
    box-shadow: 0px 0px 10px 4px rgb(80 ,80, 80 , .75);
    z-index: 1;
    
}
.midContainer{padding: 20px 0 20px 0;}
.midContainer svg{color: rgb(184, 185, 185);}
nav .MuiSvgIcon-root{width: 0em;}
.navWidth{width: 95%;float: left;}
.navbar-brand{width: 150%;}
.navbar-brand h3{font-size: 30px;float: left;color: rgb(201, 202, 202);font-weight: 400;}
.navbar-brand h4{font-size: 30px; background: -webkit-linear-gradient(177deg,#ea4b94, #c81f34,#8c0606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  font-weight: 1000;}
.navbar-nav .nav-link {font-size: 18px;color: rgba(255, 255, 255,1);font-weight: 900;}
.navBg{text-align: center;}


@media (max-width: 648px) { 
    .midContainer{padding: 20px 0 0px 0;}
    .navbar-nav .nav-link{font-size: 18px;}
    .navWidth{width: 100%;}    
    .navbar-brand h3{font-size: 20px;}
    .navbar-brand h4{font-size: 20px;}
       
}
@media (max-width: 1024px) { 
    .navBg{background-image: linear-gradient(140deg,#2b292a,#424242,#524f4e);}
    nav .MuiSvgIcon-root{width: 2em;}
    .outside button .MuiSvgIcon-root{width: 0em;height: 0em;}
    .outside button{width: 0px;height: 0px;}
}