
.bgcat{
    
  max-width: 100%;
  background:#000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  padding: 20px 0 100px 0;     
}
.bgcat p a{color: #fff;text-decoration: none;}
.bgcat p a:hover{color: rosybrown;}  

.bg-text{width: 90%;margin: 0 auto;padding-bottom: 300px; }
.bgList{
background-color: rgb(0,0,0); 
background-color: rgba(255, 255, 255, 0.779); 
color: white;
font-weight: bold;
border: 2px solid #fff; 
width: 100%;
margin: auto; 

}
.bgList ul{padding-left: 0;}

.bgList li{text-decoration: none;border-bottom: 1px solid #fff;padding: 20px;}

.bgList li a{color: #000;}


@media (max-width: 648px) { 
  h1{font-size: 20px;}
  .bg-text{width: 80%;}
}

  
  

  
  
  
   

   
