
.bgCategory{    
  max-width: 100%;
  background:#000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;  
  padding: 20px 0 100px 0;     
}
.bgCategory p a{color: #fff;text-decoration: none;}
.bgCategory p a:hover{color: rosybrown;}  
.description h1{font-size: 34px;}
.categoryCont{width: 90%;margin: 0 auto;padding-bottom: 300px; }
.categoryList{

 
color: rgb(238, 237, 237);
font-weight: bold;

width: 100%;
margin: auto; 

}
.categoryList ul{padding-left: 0;}

.categoryList li{text-decoration: none;padding: 20px;background-color: rgba(48, 47, 47, 0.779);border-radius: 20px;}

.categoryList li a{color: rgb(219, 216, 216);}


@media (max-width: 648px) { 
  h1{font-size: 20px;}
  }

  
  

  
  
  
   

   
