.container-fluid,.row,.col{padding: 0;margin: 0;}
.container{max-width: 1360px;}
.bgChordPage{background:#02000F;}
.chordImg{
  width: 100%;
  height: 100%;
  position: relative;
  }
 
.chordImg:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(174deg,#29f9081f,#07290282,#154807) ;
 
}
.chordImg img{height: 100%;}
.chordImg .imgText h1{font-size: 60px;text-transform: capitalize;line-height: 1;}
.chordImg .imgText p{font-size: 30px;color: #fff;font-family: 'Caveat', cursive;}
.imgText {
  position: absolute;
  bottom: 2px;
  left: 13%;
  color: #fff;
  z-index: 1;
  line-height: 1;
}
.bgTitle h6{font-size: 16px; overflow: hidden;
  text-overflow: clip; white-space: nowrap;}
.bgTitle{background:transparent;width: 100%;color: transparent;}
.bgTitle.active{ height: 50px;   border-radius: 0 0 14px 14px;background-image: linear-gradient(150deg,#1b790c,#299f08);position: sticky;top: 0px;z-index: 1;text-transform: capitalize;color: #fff;}
.bgTitle .key{color: transparent;}
.bgTitle.active .key{font-size: 1.3em;color:#f8fbf8;}
.BgContainerChord{position: relative;}
.topFeature a{color: #fff;text-decoration: none;}
.topFeature a:hover{color: aqua;}
.topFeature{text-align: left;line-height: 3;}
.bibleIcon:hover{color: aqua;}

.bottomStickyBar{
    width: 85%;
    z-index: 1;
    color: #fff; 
    /* background:#B44A56 ; */
    background-image: linear-gradient(150deg,#1b790c,#299f08);
    margin: auto; 
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: lighter;

}



.bottomStickyBar .MuiFab-primary{background: transparent;box-shadow: none;z-index: 1;width: 0;height: 0;}
.bottomStickyBar .MuiFab-primary:hover{background: transparent;box-shadow: none;}
.bottomStickyBar .MuiSpeedDialAction-fab{background: #4e4e4e;}
.bottomStickyBar .col{width: 25%;}
.upButton{margin-bottom: 0;font-size: 12px;position: fixed;bottom: 43%;left: 88%;z-index: 1;}
.upButton button{background-image: linear-gradient(45deg,#99034D,#AE0730);color: #fff;    height: 35px;width: 40px;min-width: 0;}
.DownButton{margin-bottom: 0;font-size: 12px;position: fixed;bottom: 37%;left: 88%;z-index: 1;}
.DownButton button{background-image: linear-gradient(45deg,#99034D,#AE0730);color: #fff;    height: 35px;width: 40px;min-width: 0;}
.shareBg{background: #020202;}
.shareButtons{    width: 60%;margin-left: 18%;} 
.shareButtons button{width: 60px;height:60px;}
.shareButtons button svg{width: 50px;height: 50px;border-radius: 50%;    box-shadow: 0 0 10px 4px #6b6868;}
.song{
    font-size: 24px;
    text-align: center; 
    color: rgb(221, 219, 219);
    font-family: "Roboto",sans-serif;font-weight: 600;
}
.paragraph{text-align: left;padding: 10px 0 10px 0;line-height: 1.0;user-select: none;}
.paragraph .row{margin: 0;padding-bottom: 10px;}
.paragraph .chord{color: #ebae68;font-weight: 500;padding: 0;}
.button svg{stroke: 0.7;color: rgb(255, 255, 255);}

button{
  padding: 7px;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: #020202;    
  font-size: 16px;    
}
  @media (max-width: 648px) { 
    
    
    .bottomStickyBar{margin-bottom: 0;width: 100%;font-size: 10px;position: fixed;bottom: 0;    border-radius: 14px 14px 0 0;}
    .bottomStickyBar p{margin-bottom: 0;line-height: 1;}  
    .chordImg .imgText h1{font-size: 38px;}
    .chordImg .imgText p{font-size: 20px;}
    .imgText{left: 5%;}
    .topFeature{text-align: center;line-height: 2.5;}
    
  }
  