.container-fluid,.row,.col{padding: 0;margin: 0;}
.container{max-width: 1360px;}
.topFeature a{color: #fff;text-decoration: none;}
.topFeature a:hover{color: aqua;}
.BgChordPage{background: #000;}
.BgContainerChord{position: relative;}
.chordImg{
    width: 100%;
    height: 100%;
    position: relative;
    }
.chordImg:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(to bottom, transparent,rgba(27, 25, 7, 0.5),rgba(27, 25, 7, 0.8), rgba(255, 41, 41, 0.9)) ;
   
  }
  .chordImg img{height: 100%;}
  .chordImg .imgText h1{font-size: 60px;}
  .chordImg .imgText p{font-size: 30px;color: #fff;font-family: 'Caveat', cursive;}
  .imgText {
    position: absolute;
    bottom: 2px;
    left: 13%;
    color: #fff;
    z-index: 1;
    
    
  }
  .topFeature{text-align: left;line-height: 3;}
  .bibleIcon:hover{color: aqua;}
  button{
    padding: 7px;
    border: none;
    border-radius: 3px;
    background: transparent;
    color: #d7d7d4;    
    font-size: 16px;    
}
.transpose{
    width: 85%;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(32, 32, 32), rgb(10, 10, 10)) ;
    margin: auto; 
    margin-bottom: 10px;
    padding-bottom: 5px;
    box-shadow: 0 0 10px 0 rgb(129, 128, 128);
}
.transpose p{color: rgb(179, 178, 178);}
.song{
    font-size: 24px;
    text-align: center; 
    color: rgb(207, 204, 204);
    font-family: 'Fira Sans Condensed', sans-serif;
}

.paragraph{text-align: left;padding: 10px 0 10px 0;line-height: 1.0;}
.paragraph .row{margin: 0;padding-bottom: 10px;}
.paragraph .chord{color: #ebae68;font-weight: 500;padding: 0;}
.backPage button{background: rgb(109, 108, 108);padding: 20px;}
.FontIcon svg{margin: 20px 10px 10px 0px ;border-radius: 10%;}
.button svg{stroke: 0.7;}
  @media (max-width: 648px) { 
    
    .stick .transpose button p{font-size: 10px;margin-bottom: 0;}
    .transpose{margin-bottom: 0;width: 100%;font-size: 12px;position: fixed;bottom: 0;}
    .transpose p{margin-bottom: 0;}
   
    
    .chordImg .imgText h1{font-size: 38px;}
    .chordImg .imgText p{font-size: 20px;}
    .imgText{left: 5%;}
    .topFeature{text-align: center;line-height: 2.5;}
  }