.bgcontainer{
   
    margin:0;
    color: #fff;
    
}


.outlineForm button{background-image: linear-gradient(45deg,#99034D,#AE0730);color: #fff;}
.outlineForm{
    border: 1px solid #fff;
    padding: 20px;
    width: 80%;
    margin: auto;
    
}



@media (max-width: 648px) { 
    .outlineForm{width: 100%;}
   
}