.bgpage{background: #0f1011;}
.bgpage h2{font-size: 26px;font-weight: bolder;background: -webkit-linear-gradient(140deg,rgb(254, 45, 102),rgb(255, 43, 110),rgb(255, 53, 91));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.songL .card img{width: 100%;}
.songL{line-height: 1;margin: 0 auto;}
.songL .card{background-color: transparent;margin:0 0 10px 0;border-radius: 10px;padding: 0 5px 0 5px;}
.songL .card .card-title{color: #ddd;font-weight: bolder;font-size: 14px;}
.songL .card .card-title:hover{color: rgb(202, 189, 11);}
.songL .card .card-body a{text-decoration: none;}

.allLink button{background: linear-gradient(157deg, #20fadd, #0ef650);color: rgb(255, 255, 255);padding: 5px 38px 5px 38px;font-weight: bolder;}
.allLink button:hover{background-color:rgb(112, 112, 109);}

/* {

@media (max-width: 648px) { 
  
  .section{padding: 50px 0  0px 0;}
  .section h1{font-size: 2.1em;padding: 40px 0 30px 0;}
 
  .category h1{font-size: 2.1em;padding: 34px 0px 30px 0px;}
  .songsList h1{font-size: 2em;padding: 60px 0 40px 0;}
} */
body{background: #000;}