@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.bgPage{background: #0c0f12;padding-bottom: 60px;}
.bgPage h2{font-size: 24px;color: #fff;font-weight: bold; }
.bannerInstall{border-radius: 5px;font-size: 18px;z-index: 1;color: #fff;background: lightseagreen;}
.bannerInstall button{float: right;background-color: #e3ee2d; }
.bannerInstall .alert{margin-bottom: 0;}
.songList .card img{width: 100%;border-radius: 10px;}
.songList{line-height: 1;margin: 0 auto;}
.songList .card{background-color: transparent;margin:0 0 10px 0;border-radius: 10px;padding: 0 5px 0 5px;}
.songList .card .card-title{color: #ddd;font-weight: bolder;font-size: 14px;margin-bottom: 3px;}
.songList .card .card-title:hover{color: rgb(202, 189, 11);}
.songList a{text-decoration: none;}
.songList h6{font-size: 13px;}
section{padding-top: 42px;}
section h6{font-size: 14px;}
 a{text-decoration: none;color: rgb(225, 230, 230);}
 a:hover{text-decoration: none;color: rgb(225, 230, 230);}
.allSongsIndexBtn button{background:linear-gradient(45deg,#3b1822,#032240,#60065e);border: 2px solid #0f0f0f;color: #f6f6f6;border-radius: 10px;padding: 10px 57px;}
.allSongsIndexBtn button:hover{border: 2px solid #fff;}
body{background: #0c0f12;font-family: Roboto,sans-serif;}

@media only screen and (max-width: 912px) {
    .bgPage h2{font-size: 22px;}
    section{padding-top: 28px;}
    section h6{font-size: 12px;}
  }