.cont h1{font-size: 34px;padding: 34px 0 20px 0;color: #fff;}
.signupButton button{background-image: linear-gradient(45deg,#99034D,#AE0730);border-radius: 40px;padding: 10px 30px 10px 30px;color: #fff;}
.userInput{line-height: .9;font-size: 14px;color:#c4bdbd;  }
.userInput input{width: 100%;margin-bottom: 20px;padding: 7px;}
.cont{margin: 0 auto;width: 60%;}
.cont .social hr{width: 30%;background: #fff;}
.cont .social svg{margin: 0 13px 0 13px;}
.socialIcons button{    width: 50px;
    border-radius: 50%;
    color: #b8b7b7;
    background-image: linear-gradient(45deg,#99034D,#AE0730);
    height:60px;
    font-size: 24px;
margin: 0 10px 0 10px;}
.cont h6 a{background: -webkit-linear-gradient(45deg,#36f5c9,#49e25f,#eae642);
    -webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: bolder;text-decoration: none;}

.favList a{text-decoration: none;color: rgb(201, 202, 202);}
.favList{background:rgb(44, 44, 44);padding: 10px;border-radius: 7px;}

@media (max-width: 648px) { 
    .cont{width: 100%;}
}