#inVideo{
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}

#SecondDiv{
    position:absolute;
    top:-276px;
    left:-5px;
}

iframe{
    width : 100%;
    height : 500px ;
    border: 2px solid #706f6f;
  
}
@media (max-width: 576px) { 
    
  iframe{height: auto;}

  }