
.input-box{   

  font-size: 16px;
  max-width: 100%; 
  position: relative;
  border: none;
  padding: .6em;   
}
.input-box input{ 
  width: 92%;
  height: 50px;
  background: transparent;
  
  border: none;


  color: #000;      
  /* box-shadow: 0px 0px 10px 4px rgba(65, 62, 62, 0.75);
  -moz-box-shadow: 0px 0px 10px 4px rgba(65, 62, 62, 0.75);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(65, 62, 62, 0.75); */
  transition: 0.4s all;    
  font-size: 14px;  
}

.input-box ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#0f0f0f;
  font-weight: bolder;
  opacity: 0.8; /* Firefox */
  
}
.search-results{background: #222020;  color: rgb(239 240 241);  padding: 10px;  border-radius: 11px;}

.search-results h6{color:rgb(142 140 140);;}
.ResultsongList ul{    list-style-type: none;}
.ResultsongList li{padding: 10px 0 10px 0;  border-bottom: 1px solid #4e4d4d;}
.ResultsongList li a{font-size: 18px;text-decoration: none;color: rgb(234, 158, 88);     text-align: left;font-weight: 600;}
.ResultsongList h2{padding-left: 20px;font-size: 20px;font-weight: bold;color: rgb(244, 248, 246);}

.search_bar button:hover{background: transparent;border: none;}
.songNotFound a{text-decoration: none;color: rgb(238, 172, 30);font-weight: 500;text-align: center;}
.chordspageSearch input{width: 100%;height: 40px;color: #000;}
.chordspageSearch svg{color: rgb(0, 0, 0);margin: 0 auto;background: #fff;}
@media (max-width: 576px) { 
  
  .input-box input{font-size: 14px;height: 40px;}
 
  .ResultsongList li a{font-size: 16px;}
  .ResultsongList h2{font-size: 18px;}
  .ResultsongList h6{font-size: 12px;}

}