.footer{
  background: rgba(0,0,0,0.9);
  color: white;
  text-align: center;
  padding: 30px 0 30px 0;
  border-top: 1px solid #b3b0b0;
  font-size: 12px;
  box-shadow: 0px 0px 7px 3px rgba(172, 171, 171, 0.75);
  
}
