
.headPart{
    position: relative;
    padding: 20px 0 20px 0px;
    background-color: black;
    box-shadow: 0px 0px 10px 4px rgb(80 ,80, 80 , .75);;
    z-index: 1
    ;
}

.navWidth{width: 96%;float: left;}
.navbar-brand{font-size: 32px; font-weight: bolder; background: -webkit-linear-gradient(left,rgb(248, 248, 246),rgb(245, 245, 135),rgb(235, 231, 29), rgb(182, 150, 10));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
.navbar-nav .nav-link{font-size: 18px;}
nav  svg{width: 0em;}
.modal-header button span{color: #fff;}
.modal-content{box-shadow: 0 0 10px 4px #fff;}

@media (max-width: 648px) { 
    .navbar-nav .nav-link{font-size: 18px;}
    .navWidth{width: 100%;}
    .navbar-brand{width: 100%;}
    .navbar-brand h3{font-size: 20px;}
    nav  svg{width: 2em;}
    .outside .search_bar svg{width: 0em;}

}