
.headPart{
    padding: 20px 0 20px 0px;
    background-color: black;
    box-shadow: 0px 0px 10px 4px rgb(80 ,80, 80 , .75);;
    z-index: 1
    ;
}

.navWidth{width: 96%;float: left;}
.navbar-brand{width: 10%;}
.navbar-brand img{width: 100%;}
.navbar-nav .nav-link{font-size: 18px;}
nav  svg{width: 0em;}
.modal-header button span{color: #fff;}
.modal-content{box-shadow: 0 0 10px 4px #fff;}

@media (max-width: 648px) { 
    .midContainer{padding: 0;}
    .navbar-nav .nav-link{font-size: 18px;}
    .navWidth{width: 100%;}
    .navbar-brand{width: 10%;}
    nav  svg{width: 2em;}
    .outside .search_bar svg{width: 0em;}

}