.skeletonCard{height: 200px;}
.skeletonCard .MuiSkeleton-text{height: 100%;background:#777474;border-radius: 20px;}
.installAppBtn button{border-radius: 50%;
    color: #b8b7b7;
    background-image: linear-gradient(45deg,#99034D,#AE0730);}