.slider{width: 100%;height: auto;}
.slider img{width: 100%;}
.slider .card{border: none;padding: 0;}
.carousel-control-prev-icon{background: none;}
.carousel-control-next-icon{background: none;}
.carousel-indicators li{background: none;}
.topHeadi{
  position: absolute;
  /* top: 30%;
  left: 0%;    */
  bottom: 50%;
  text-align: center;
}
.topHeadi h1{position: relative;font-size: 6.8em;color: #fff;text-align: center;z-index: 1;font-weight: 500;font-family: 'Archivo Black', sans-serif;}
.search-box {
  padding: 325px 0 0px 0;
  margin: 0 auto;
  text-align:center;
  font-size: 16px;
  max-width: 70%; 
  position: relative;
  z-index: 1;
}
.search-box input{background: rgba(27, 27, 27, 0.6);box-shadow:0 0 5px 2px #bebebd;border: none;}
::placeholder {
  color:rgb(49, 47, 47);
  opacity: 1; 
}


@media (max-width: 648px) { 
   .topHeadi{top:20%;} 
  .topHeadi h1{font-size: 2em;}
  .search-box {padding: 50px 0 0px 0;}
}
@media (min-width: 768px) { 
   .topHeadi{top:20%;} 
  .topHeadi h1{font-size: 4em;}
  .search-box {padding: 70px 0 0px 0;}
}
@media (min-width: 1160px) { 
   .topHeadi{top:32%;} 
  .topHeadi h1{font-size: 7em;}
  .search-box {padding: 270px 0 0px 0;}
}